global:
  scrape_interval: 15s

scrape_configs:
  - job_name: excess-api
    metrics_path: /api/v1/metrics
    authorization:
      type: Bearer
      credentials: replace-with-METRICS_BEARER_TOKEN
    static_configs:
      - targets:
          - api.example.com
